.header {
    background-color: aqua;
}

.domine-h1{
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.aboutMe {
    background-color: yellow;
}

.skills {
    background-color: lightcoral;
}

.skill-item-color {
    background-color: pink;
}

.experience {
    background-color: lightgreen;
}

.experience-item-color {
    background-color: greenyellow;
}

.projects {
    background-color: lightsalmon;
}

.project-item-color {
    background-color: gold;
}

