.header {
    background-color: aqua;
}

.aboutMe {
    background-color: yellow;
}

.skills {
    background-color: lightcoral;
}

.skill-item-color {
    background-color: pink;
}

.experience {
    background-color: lightgreen;
}

.experience-item-color {
    background-color: greenyellow;
}

.projects {
    background-color: lightsalmon;
}

.project-item-color {
    background-color: gold;
}

