.header {
    background-color: aqua;
}

.aboutMe {
    background-color: yellow;
}

.skills {
    background-color: lightcoral;
}

.experience {
    background-color: lightgreen;
}

.projects {
    background-color: lightsalmon;
}